include shop_top 

    body
        .h-card.h-bg-white 
            h2.h-text-green.h-text avios 
        
        .products.h-card.h-bg-white 
            h6.h-text-bold.h-text-blight Products
            for product in products 
                .h-card-sm 
                    p.



include shop_bottom